 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>PGP Buddy is a tool for helping you test and practice using PGP. You can send PGP buddy emails, and she will check that you are doing things correctly. If PGP buddy finds a problem, then she will email you and let you know what the problem was.</p>
                </div>
                <div class="col-lg-4">
                    <p>We are currently in closed alpha but will be opening up for public beta soon. Stay tuned!</p>
                </div>
                <!---<div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="mailto:email@here.com" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>--->
            </div>
        </div>
    </section>
