 <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Privacy Policy</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                <p>This service is intended as a testing service for setting up PGP only. If messages are successfully handled, we delete that message after we respond to them, as well as the PGP public key we download after it has been used to generate the response. However, you should not email sensitive content to PGP buddy. Note on logging: During beta testing, we are logging messages that we fail to respond to appropriately in order to determine what additional situations PGP buddy should be able to handle.</p>
                </div>
            </div>
        </div>
    </section>
